# Write just "docker compose run" instead of "docker compose -f docker-compose.yml -f docker-compose.development.yml run"
COMPOSE_FILE='docker-compose.yml:docker-compose.development.yml'

# Use this variable instead of the previous one if you're working on Linux
# COMPOSE_FILE='docker-compose.yml:docker-compose.development.yml:docker-compose.linux.yml'

# Your host machine IP in the Docker network. Needed for xDebug to work on Linux systems.
# DOCKER_HOST_IP=172.17.0.1

# You can connect your RabbitMQ client on your host machine to this port
RABBIT_PORT=5672

# You can access RabbitMQ management UI from your browser with this port, i.e. http://localhost:15682
RABBIT_MANAGEMENT_PORT=15682

# Your UNIX user and group IDs. Needed if you're running Docker on a Unix system (Linux, MacOS).
# To get your user id run: id -u
# To get your group id run: id -g
# USER_ID=1000
# GROUP_ID=1000
